In [ ]:
def is_leap(year):
    if (year%400==0) or (year%4==0 and year%100!=0):
        return True
    else:
        return False
is_leap(int(input()))   
# leap year 366 days 4 years and 100 year leap 1700 1800 1900 2000

# recursive function
- Function calling itself

In [ ]:
def factorial(n):
    if n==1:
        return 1
    else:
        return n*factorial(n-1)
factorial(10)

# Lists

- used to store data/group of data elements
- mutabile in nature
- represented [ ]

#### list are ordered and changable and allow duplicates
#### tuples are  ordered and unchangable and allows duplicates 
#### set are unordered and unindexed and doesn't allow duplicates
#### dictionarie are unordered and changable and indexed  and does n't allow duplicates

In [ ]:
list=["mi","rcb","csk","rr"," dd","punjab"]
print(list)

In [ ]:
print(list[0])

In [ ]:
print(list[-1])

In [ ]:
print(list[2:6])

In [ ]:
# 0:4
# :4
print(list[:4])

In [ ]:
list

In [ ]:
list[3]="srh"

In [ ]:
list

In [ ]:
print(list)

In [ ]:
for x in list:
    print(x)

In [ ]:
if "csk" in list:
    print("yes")

In [ ]:
if "abc" in list:
    print("yes")
else:
    print("no")

In [ ]:
print(len(list))

In [ ]:
list

In [ ]:
list.append("rr")

In [ ]:
print(list)

In [ ]:
list.insert(1,"kohli")

In [ ]:
print(list)

In [ ]:
list.remove("rcb")

In [ ]:
print(list)

In [ ]:
list.pop()

In [ ]:
print(list)

In [ ]:
list.clear()

In [ ]:
print(list)

In [ ]:
list

In [ ]:
# del keyword mainly removes specified index
list1=["bhanu","prasanna","ravi","sakambari"]
del list1[2]

In [ ]:
print(list)

In [ ]:
print(list1)

In [ ]:
swetha=["a","b","c"]
swetha.append("d")

In [ ]:
print(swetha)

In [1]:
r=range(1,21)
li=list(r)
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [2]:
het=[123,90,'name','word',9.23,'string123']

In [3]:
het

[123, 90, 'name', 'word', 9.23, 'string123']

In [4]:
het[-4:-1]

['name', 'word', 9.23]

In [5]:
het[-1:-4]

[]

In [11]:
# even nos in a list format present in a given range

nums=range(10,30,2)
evens=list(nums)
print(evens)

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

# List Methods

- li.append()
    - which adds new/data ele to the list
- li.remove()
    - removes the particular ele from the list
- li.pop()
    - removes the last ele
- li.index()
    - index of the particular item
- li.sort()
    - sort/arrange the list in an ascending order
- li.reverse()
    - reverse the list from last to first
- max(li)
    - gives max num
- min(li)
    - gives min num
- sum(li)
    - adds all the num present in the list
- li.extend()
    - we can extend the list by ele/list
- li.clear()
    - clears/erase the entire data in list
- li.copy()
    - copy the list
- li.count()
    - num of eles in list

In [12]:
empty=[]
empty

[]

In [17]:
for num in range(1,7):
    empty.append(num)
empty

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [18]:
empty

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [23]:
bhanu=[2,4,6,8,10,12,14]

In [24]:
bhanu

[2, 4, 6, 8, 10, 12, 14]

In [25]:
bhanu[3]

8

In [26]:
# replace the value 8 with 'eight'
bhanu[3]='eight'
bhanu

[2, 4, 6, 'eight', 10, 12, 14]

In [27]:
bhanu

[2, 4, 6, 'eight', 10, 12, 14]

In [28]:
# remove 4 from the list
bhanu.remove(4)

In [29]:
bhanu

[2, 6, 'eight', 10, 12, 14]

In [30]:
bhanu.pop()

14

In [31]:
bhanu

[2, 6, 'eight', 10, 12]

In [32]:
bhanu.pop(-2)

10

In [33]:
bhanu

[2, 6, 'eight', 12]

In [34]:
bhanu.index(6)

1

In [35]:
random=[34,12,90,86,45,109,52,87,30]

In [36]:
random.sort()

In [37]:
random

[12, 30, 34, 45, 52, 86, 87, 90, 109]

In [38]:
min(random)

12

In [39]:
max(random)

109

In [40]:
sum(random)

545

In [41]:
len(random)

9

In [42]:
# list strings and integers
# strings
l=[12,23,25,345,35,6,46,'bdchsh',"hsdhdh",2233,324445]
for ele in l:
    if str(ele).isalpha():
        print(ele)

bdchsh
hsdhdh

In [43]:
random

[12, 30, 34, 45, 52, 86, 87, 90, 109]

In [44]:
random.extend(['bhanu','apssdc','iot'])

In [45]:
random

[12, 30, 34, 45, 52, 86, 87, 90, 109, 'bhanu', 'apssdc', 'iot']

In [46]:
random.clear()

In [47]:
random

[]

In [48]:
del random

In [49]:
random

NameError: name 'random' is not defined

In [50]:
a=[132,14,'dhbfh','hgdghgfh']

In [51]:
a.append(1234)

In [52]:
a

[132, 14, 'dhbfh', 'hgdghgfh', 1234]

In [54]:
a.extend([1234,2342])

In [55]:
a

[132, 14, 'dhbfh', 'hgdghgfh', 1234, 1234, 2342]

In [56]:
a.clear()

In [57]:
a

[]

In [59]:
del a

In [60]:
a

NameError: name 'a' is not defined

In [85]:
#[1,2,3],[4,5,6]....>[5,7,9]
a=[1,2,3]
b=[4,5,6]
a+b

[1, 2, 3, 4, 5, 6]

In [86]:
sum(a)+sum(b)

21

In [87]:
bhanu=[sum(a),sum(b)]

In [88]:
bhanu

[6, 15]

In [90]:
three=[]
s=0
for num in range(len(a)):
    s=a[num]+b[num]
    three.append(s)
three

[5, 7, 9]

In [68]:
one=[1,2,3]
two=[4,5,6]
s=0
li3=[]
for num,num2 in zip(one,two):
    s=num+num2
    li3.append(s)
li3

[5, 7, 9]

In [69]:
st=input().split()
st

hi i am from guntur

['hi', 'i', 'am', 'from', 'guntur']

In [70]:
li=[12,34,56,90,324,124,24,424,54]
# unique eles from list
for item in li:
    print(item)

12
34
56
90
324
124
24
424
54

In [71]:
uniq=[]
for ele in li:
    if ele not in uniq:
        uniq.append(ele)

In [72]:
uniq

[12, 34, 56, 90, 324, 124, 24, 424, 54]

In [74]:
# [89 23 10 45 28 82 40 16 72 50]
# min sum of ele 
# max sum of ele
nums=input().split()
min=0
max=0
li=[]
for num in nums:
    li.append(int(num))
li
li.sort()
min=sum(li[0:5])
max=sum(li[-5:])
print("min sum",min)
print("max sum",max)

89 23 10 45 28 82 40 16 72 50
min sum 117
max sum 338

In [75]:
10+16+23+28+40

117

In [76]:
50+72+82+89+45

338

# Set

- one of the data strcture in python
- is a well defined collection of data
- it can be build on an unordered data ele
- { }
- immuntable in nature
    - we can not manipulate the data eles
- eleminates the duplicate data elss

In [79]:
s={12,'hi','hello',34,'course',90,87,78.34,"hi","bhanu","course","hi"}

In [80]:
s

{12, 34, 78.34, 87, 90, 'bhanu', 'course', 'hello', 'hi'}

In [84]:
dir(s)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [94]:
p=[1,2,3,'wdf']
p.extend(['wer'])

In [95]:
p

[1, 2, 3, 'wdf', 'wer']

In [96]:
p.append(1323)

In [97]:
p

[1, 2, 3, 'wdf', 'wer', 1323]

In [99]:
p.extend([1232323])

In [100]:
p

[1, 2, 3, 'wdf', 'wer', 1323, 1232323]

In [101]:
p.remove(3)

In [102]:
p

[1, 2, 'wdf', 'wer', 1323, 1232323]

In [106]:
p=[1,2,3,'wdf',1,2,1,1,1,1,1,1]

In [107]:
p.remove(1)

In [108]:
p

[2, 3, 'wdf', 1, 2, 1, 1, 1, 1, 1, 1]