# Set

In [11]:
s={12,'hi','hello',34,'course',90,87,78.34,'hi','summer','course'}

In [12]:
s2={12,'hi','summer',34}

In [13]:
# s2 from s
s-s2

{78.34, 87, 90, 'course', 'hello'}

In [14]:
s.difference(s2)

{78.34, 87, 90, 'course', 'hello'}

# set methods
- add()
- update()
- pop()
- union()
- intersection()
- remove()
- discard()
- clear()
- difference()
- copy()
- isdisjoint()
- issubset()
- issuperset()

In [25]:
s={12,'hi','hello',34,'course',90,87,78.34,'hi','summer','course'}

In [26]:
s.add(1234)

In [27]:
s

{12, 1234, 34, 78.34, 87, 90, 'course', 'hello', 'hi', 'summer'}

In [30]:
s.add(1234)

In [31]:
s.update(["bhanu","guntur"])

In [33]:
s

{12,
 1234,
 34,
 78.34,
 87,
 90,
 'bhanu',
 'course',
 'guntur',
 'hello',
 'hi',
 'summer'}

In [34]:
s.pop()

'course'

In [35]:
s

{12, 1234, 34, 78.34, 87, 90, 'bhanu', 'guntur', 'hello', 'hi', 'summer'}

In [36]:
s.pop()

34

In [37]:
s

{12, 1234, 78.34, 87, 90, 'bhanu', 'guntur', 'hello', 'hi', 'summer'}

In [38]:
s.remove(1234)

In [39]:
s

{12, 78.34, 87, 90, 'bhanu', 'guntur', 'hello', 'hi', 'summer'}

In [40]:
s.discard(12)

In [41]:
s

{78.34, 87, 90, 'bhanu', 'guntur', 'hello', 'hi', 'summer'}

In [42]:
s.remove(12345)

KeyError: 12345

In [43]:
s

{78.34, 87, 90, 'bhanu', 'guntur', 'hello', 'hi', 'summer'}

In [44]:
s.discard(12345)

In [45]:
# union
# intersection

In [53]:
set1={"a","b"}
set2={1,2,"a"}
set3=set1.union(set2)
set4=set1.intersection(set2)

In [54]:
set3

{1, 2, 'a', 'b'}

In [55]:
set4

{'a'}

In [56]:
len(set3)

4

In [57]:
set4.clear()

In [58]:
set4

set()

In [59]:
a={1,2,3}
b={2,4,5,6}
a.difference(b)

{1, 3}

In [60]:
b.difference(a)

{4, 5, 6}

In [61]:
new={'hi','guntur',"new","online",87,14,57}

In [62]:
new

{14, 57, 87, 'guntur', 'hi', 'new', 'online'}

In [63]:
s

{78.34, 87, 90, 'bhanu', 'guntur', 'hello', 'hi', 'summer'}

In [64]:
s.intersection(new)

{87, 'guntur', 'hi'}

In [65]:
s.union(new)

{14,
 57,
 78.34,
 87,
 90,
 'bhanu',
 'guntur',
 'hello',
 'hi',
 'new',
 'online',
 'summer'}

In [66]:
new.issubset(s)

False

In [67]:
new.issuperset(s)

False

In [68]:
s.issuperset(new)

False

In [69]:
s2

{12, 34, 'hi', 'summer'}

In [70]:
s

{78.34, 87, 90, 'bhanu', 'guntur', 'hello', 'hi', 'summer'}

In [71]:
s={12, 34, 'hi', 'summer',78.34, 87, 90, 'bhanu', 'guntur', 'hello', 'hi', 'summer'}

In [72]:
s

{12, 34, 78.34, 87, 90, 'bhanu', 'guntur', 'hello', 'hi', 'summer'}

In [73]:
s.issuperset(s2)

True

In [74]:
s2.issubset(s)

True

In [75]:
m={1,2,3,4}
n={1,2,3,4,5,6,7}
m.issuperset(n)

False

In [76]:
n.issuperset(m)

True

In [77]:
m.issubset(n)

True

In [78]:
n.issubset(m)

False

In [79]:
help(set.intersection)

Help on method_descriptor:

intersection(...)
    Return the intersection of two sets as a new set.

    (i.e. all elements that are in both sets.)

In [80]:
s

{12, 34, 78.34, 87, 90, 'bhanu', 'guntur', 'hello', 'hi', 'summer'}

In [81]:
new

{14, 57, 87, 'guntur', 'hi', 'new', 'online'}

In [82]:
var=s.intersection(new)
var

{87, 'guntur', 'hi'}

In [84]:
new.isdisjoint(s)

False

In [85]:
other={'new','new2','new3'}

In [86]:
other

{'new', 'new2', 'new3'}

In [87]:
other.isdisjoint(s)

True

In [91]:
# retrieve uniq elements from the list

r=[12,87837,34,45,55,44,5,35,353]

In [92]:
st=set(r)

In [93]:
st

{5, 12, 34, 35, 44, 45, 55, 353, 87837}

# Dictionaries

- key,value pair data strcture
- {key:value}
- key: any data type..>int/float/str
- value: any data strcture..>str/list/tuple/set/dict
- keys are unique in nature
- keys are the references for the values
- (key,value) together called as an item

In [94]:
dict={'key':'value','string':'name','integer':123,'float':9.3}

In [95]:
dict

{'key': 'value', 'string': 'name', 'integer': 123, 'float': 9.3}

In [96]:
# print only keys present in this dic
print(dict.keys())

dict_keys(['key', 'string', 'integer', 'float'])

In [97]:
print(dict.values())

dict_values(['value', 'name', 123, 9.3])

In [98]:
print(dict.items())

dict_items([('key', 'value'), ('string', 'name'), ('integer', 123), ('float', 9.3)])

In [99]:
for item in dict.keys():
    print(item)

key
string
integer
float

In [100]:
for item in dict.values():
    print(item)

value
name
123
9.3

In [101]:
for item in dict.items():
    print(item)

('key', 'value')
('string', 'name')
('integer', 123)
('float', 9.3)

In [102]:
item_list=list(dict.items())
for item in item_list:
    print(item)

('key', 'value')
('string', 'name')
('integer', 123)
('float', 9.3)

In [103]:
# dict.items....<keys and values
for key,value in dict.items():
    print(key,value,sep=":")

key:value
string:name
integer:123
float:9.3

In [104]:
for key,value in zip(dict.keys(),dict.values()):
    print(key,value,sep="@")

key@value
string@name
integer@123
float@9.3

In [105]:
dict

{'key': 'value', 'string': 'name', 'integer': 123, 'float': 9.3}

In [106]:
dict.popitem()   # removes last item

('float', 9.3)

In [108]:
dict.pop('string')

'name'

In [109]:
dict

{'key': 'value', 'integer': 123}

In [110]:
dict['key']="Old Value"

In [111]:
dict

{'key': 'Old Value', 'integer': 123}

In [112]:
dict["new key"]="New ValUe"

In [113]:
dict

{'key': 'Old Value', 'integer': 123, 'new key': 'New ValUe'}

In [114]:
dict.update({"bhanu":"reddy","Btech":"ECE"})

In [115]:
dict

{'key': 'Old Value',
 'integer': 123,
 'new key': 'New ValUe',
 'bhanu': 'reddy',
 'Btech': 'ECE'}

In [116]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [117]:
dict

{'key': 'Old Value',
 'integer': 123,
 'new key': 'New ValUe',
 'bhanu': 'reddy',
 'Btech': 'ECE'}

In [118]:
dict["old value"]="data"

In [119]:
dict

{'key': 'Old Value',
 'integer': 123,
 'new key': 'New ValUe',
 'bhanu': 'reddy',
 'Btech': 'ECE',
 'old value': 'data'}

In [123]:
# prepare a dict of square value of nos from 1 to 15
squrs={}
for num in range(1,16):
    squrs[num]=num**2
squrs

{1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225}

In [127]:
dict[key]=value # we can add new data to the dict /modify the preset key

In [128]:
li=[1,2,3,4]
li[2]

3

In [129]:
dict['new key']

'New ValUe'

In [130]:
dict['new key']='modifid'

In [131]:
dict

{'key': 'Old Value',
 'integer': 123,
 'new key': 'modifid',
 'bhanu': 'reddy',
 'Btech': 'ECE',
 'old value': 'data',
 'float': 9.3}

In [132]:
# prepare a dict of chars A to L with their ascii
dic={}
value=65
for i in range(0,12):
    dic[chr(value)]=value
    value=value+1
print(dic)

{'A': 65, 'B': 66, 'C': 67, 'D': 68, 'E': 69, 'F': 70, 'G': 71, 'H': 72, 'I': 73, 'J': 74, 'K': 75, 'L': 76}

In [133]:
chars={}
for num in range(65,76):
    chars[chr(num)]=num
chars

{'A': 65,
 'B': 66,
 'C': 67,
 'D': 68,
 'E': 69,
 'F': 70,
 'G': 71,
 'H': 72,
 'I': 73,
 'J': 74,
 'K': 75}

In [136]:
# prepar a dict of chars whose ascii values are in a giv rang even
eves={}
for num in range(66,80):
    if num%2==0:
        eves[num]=chr(num)
print(eves)

{66: 'B', 68: 'D', 70: 'F', 72: 'H', 74: 'J', 76: 'L', 78: 'N'}

In [137]:
# dict of chars whose ascii values are prime
# hidjhjdhjhdfhfjhjfdhjfhjhfjhhhdgdhdgdhdgg
# prime nums in a given range with ascii

In [138]:
# MaCHIne LearnInG.....>Machine Learing
course=input()
print(course.title())

MaCHIne LearnInG
Machine Learning

In [142]:
# upputuri prasanna
# u.prasanna
name=input("type your name")
print(name)
name2=name.split()
lastname=name2[1]
lastname=lastname[:1]
print(name2[0],lastname,end=" ")

type your nameupputuri prasanna
upputuri prasanna
upputuri p

In [144]:
name=input().split()
fn=name[0]
ln=name[1][0]
print(ln,fn,sep=".")

prasanna upputuri
u.prasanna

In [145]:
# contact application
# add del search edit
contacts={}
def add_contact(name,num):
    if name in contacts:
        print(name,"already exists")
    else:
        contacts[name]=num
        print('contact',name,'added')
add_contact('Bhanu',701322979)
def del_contact(name):
    if name in contacts:
        contacts.pop(name)
        print('contact',name,'deleted')
#del_contact('bhanu')
def search_contact(name):
    if name in contacts:
        print(name,contacts[name],sep=":")
    else:
        print("contacts is not there")
# search_contact("bhanu")
def edit_contact(name):
    if name in contacts:
        print(contacts[name])
        num=int(input('new number:'))
        contacts[name]=num
        print('contact updated')
# edit_contact("bhanu")

contact Bhanu added

In [146]:
contacts

{'Bhanu': 701322979}

In [147]:
add_contact('rakesh',12345)

contact rakesh added

In [148]:
contacts

{'Bhanu': 701322979, 'rakesh': 12345}

In [149]:
add_contact('swathi',678910)

contact swathi added

In [151]:
contacts

{'Bhanu': 701322979, 'rakesh': 12345, 'swathi': 678910}

In [152]:
del_contact('rakesh')

contact rakesh deleted

In [153]:
contacts

{'Bhanu': 701322979, 'swathi': 678910}

In [155]:
search_contact('Bhanu')

Bhanu:701322979

In [156]:
edit_contact('Bhanu')

701322979
new number:678910
contact updated

In [158]:
contacts

{'Bhanu': 678910, 'swathi': 678910}

In [159]:
contacts.get('Bhanu')

678910

In [160]:
contacts={}
def add_contact(name,num):
    if name in contacts:
        print(name,'already exist')
    else:
        contacts[name]=num
        print('contact',name,'added')
add_contact('swetha',9133156403)
def del_contact(name):
    if name in contacts:
        contacts.pop(name)
        print("contact",name,"deleted")
# del_contact('swetha')
def search_contact(name):
    if name in contacts:
        print(name,contacts[name],sep=":")
    else:
        print("contact is not there")
#search_contact("swetha")
def edit_contact(name):
    if name in contacts:
        print(contacts[name])
        num=int(input('new number:'))
        contacts[name]=name
        print('contact updated')
#edit_contact('swetha')

contact swetha added